.db-background {
  background-color: black;
  min-height: calc(100dvh - 49px);
}
.login-input-wrapper{
  display: flex;
  width: 100%;
  justify-content: center;
  height: calc(100dvh);
  align-items: center;
}

.login-input {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 300px;
  max-width: 500px;
  font-size: 16px !important;
  color: white;
}

.invisible {
  opacity: 0;
  cursor: unset;
}
