.dbadmin {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
  padding-bottom: 100px;
}

.dbn-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.admin-nav {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
  height: calc(100vh - 50px);
}
.admin-selector {
  width: 200px;
  height: 200px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
  font-size: 16px;
  background-color: var(--color-bg-light);
  border-radius: 15px;
  color: white;
  font-weight: 800;
  gap: 10px;
  border: none;
}
.admin-selector:hover {
  filter: brightness(120%);
}
.admin-selector svg {
  width: 100%;
  height: 50px;
}
.admin-selector svg path {
  stroke: white;
}
.payroll-input-group {
  display: flex;
  flex-direction: column;
  width: min-content;
  min-width: 120px;
  padding-top: 5px;
  gap: 5px;
}
.payroll-input-group-wide {
  display: flex;
  flex-direction: column;
  width: min-content;
  width: 250px;
  padding-top: 5px;
  gap: 5px;
}


.payroll-header {
  width: 100%;
  padding-left: calc(10% + 10px);
  padding-right: calc(10% - 10px);
  box-sizing: border-box;
  color: white;
  display: flex;
  padding-bottom: 15px;
  margin-bottom: 20px;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 49px;
  background-color: black;
  z-index: 80;
  align-self: flex-start;
  padding-top: 15px;
}
.payroll-row {
  display: block;
  color: white;
  font-weight: 600;
  padding-bottom: 30px;
  box-sizing: border-box;
  width: 80%;
  margin-left: calc(10% + 10px);
}

.input-text-payroll {
  color: white;
  font-weight: 500;
  font-size: 14px;
}
.payroll-dates {
  font-size: 16px;
}
.payroll-date-buttons {
  display: flex;
  width: 100px;
  gap: 10px;
}

.payroll-input-row {
  display: grid;
  grid-template-columns: 0.4fr 1fr auto;
  justify-content: space-between;
  gap: 15px;
  z-index: 10;
  position: relative;
}
.row-employee {
  z-index: 10;
  position: relative;
}

.payroll-input-group:focus-within input {
  border: 1px solid var(--gold) !important;
}

.input-row {
  display: flex;
  align-items: center;
  gap: 10px;
}
.input-row-center {
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.input-row-center::-webkit-scrollbar {
  display: none;
}

.reserve-select-payroll {
  background-color: var(--color-bg-light);
  color: white;
  text-align: right;
  font-size: 14px;
  padding: 8px;
  padding-left: 20px;
  opacity: 1;
}
.payroll-input-wrapper {
  position: relative;
  display: inline-block;
}
.payroll-input-wrapper::before {
  content: "$";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-weight: 500;
  font-size: 14px;
}

.percent-input-wrapper {
  position: relative;
  display: inline-block;
}
.percent-input-wrapper::before {
  content: "%";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-weight: 500;
  font-size: 18px;
}

.saved-payroll {
  color: white;
  width: 60.5%;
  max-width: 1000px;
  margin-inline: auto;
  border-radius: 8px;
}

.saved-payroll > div {
  background-color: var(--highlight) !important;
}
.payroll-pdf {
  font-size: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
}

.employee-box {
  padding: 29px;
  padding-inline: 20px;
  border: 1px solid black;
}
.bold {
  font-weight: 800;
}
.right-row {
  display: flex;
  gap: 30px;
  align-items: flex-end;
  justify-content: space-between;
  align-content: center;
}
.right-row button {
  width: 60px;
}

.dbn-name-bigger {
  font-size: 1.3rem;
}

.employees {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
  font-weight: 600;
  padding-bottom: 30px;
  box-sizing: border-box;
  width: 1400px;
  margin-inline: auto;
}
.employee-layout{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.employee-section-header {
  position: sticky;
  padding-top: 15px;
  padding-bottom: 15px;
  top: 49px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  padding-inline: 50px;
  margin-left: -50px;
  margin-bottom: -15px;
  width: 1425px;
  background-color: #000000;
}
.employee-header-buttons {
  display: flex;
  gap: 20px;
}
.employee-row-subheader {
  font-weight: 800;
  font-size: 14px;
}
.employee-header-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--paper-white);
}
.ehb-unactive h2 {
  opacity: 0.5;
}
.employee-header-btn:hover {
  color: var(--gold);
}

.employee-row {
  display: flex;
  flex-direction: column;
  gap: 10px;

}
.employee-row-bigger {
  padding-bottom: 50px;
}

.employee-row-subsection {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.subsection-inputs {
  display: flex;
  gap: 10px;
}
.employee-body {
  display: flex;
  gap: 50px;
  z-index: 15;
  padding-top: 5px;
}
.employee-input-checkbox {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--color-bg-light);
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  padding: 8px;
  padding-bottom: 8.5px;
  color: var(--paper-white);
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.employee-input-checkbox:hover {
  background-color: var(--gold);
  border-color: var(--gold);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.employee-button-size {
  padding: 9px;
  padding-bottom: 9.5px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
}

.new-employee-btn{
  width: 40px;
  height: 40px;
  background-color: var(--gold);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.new-employee-btn:hover{
  filter: brightness(.85);
}
.inactive-submit {
  cursor: unset;
  filter: brightness(0.5);
  background-color: var(--color-bg-light);
  border-color: var(--color-bg-light);
}
.inactive-submit:hover {
  cursor: unset;
  filter: brightness(0.5);
  background-color: var(--color-bg-light);
  border-color: var(--color-bg-light);
}
.body-row {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

.employee-text {
  padding: 15px;
  border-radius: 10px 0px 0px 10px;
  background-color: var(--nice-black);
  flex-grow: 2;
  padding-left: 30px;
}

.employee-input {
  background: none;
  border: none;
  text-align: right;
  color: white;
  font-size: 18px;
  max-width: 120px;
  padding: 15px;
  border-radius: 0px 10px 10px 0px;
  margin-left: 1px;
  background-color: var(--nice-black);
  height: 100%;
  padding-right: 30px;
  box-sizing: border-box;
}

.employee-input:focus {
  outline: none;
}

.body-row:focus-within {
  border: 1px solid var(--gold);
}

.save-button {
  color: white;
  background-color: var(--gold);
  border: 1px solid var(--gold);
  width: 50%;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.payroll-btn svg {
  filter: brightness(100);
}
.payroll-btn {
  padding: 0.5rem;
  width: 45px !important;
  height: 40px;
}

.row-background {
  position: absolute;
  background-color: var(--highlight);
  border-radius: 5px;
  height: 120px;
  width: 82%;
  margin-left: -1%;
  margin-top: -10px;
}

.row-background-employee {
  position: absolute;
  background-color: var(--highlight);
  border-radius: 5px;
  height: 140px;
  margin-left: -15px;
  z-index: 10;
  margin-top: -10px;
}

.payroll-input-inactive {
  cursor: default;
  background-color: var(--color-bg-light);
}

.dash-wrapper {
  padding-top: 4rem;
  margin-inline: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.payroll-dash {
  display: flex;
  gap: 30px;
  box-sizing: border-box;
}

.graph-wrapper {
  width: 60%;
  padding: 3rem;
  background-color: var(--color-bg-light);
  border-radius: 3px;
}

.graph-title {
  color: white;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
}

.dash-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  width: 35%;
}
.old-payrolls-wrapper {
  color: white;
  height: 337px;
  overflow-y: scroll;
}
.sticky-header {
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: black;
}

.old-payrolls {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3px;
  color: var(--paper-white);
  font-weight: 500;
  box-sizing: border-box;
}

.old-payroll {
  background-color: var(--color-bg-light);
  color: white;
  height: 50px !important;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

.old-payroll:hover {
  filter: brightness(120%);
}

.new-payroll {
  margin: auto;
  width: fit-content;
  padding-inline: 35px;
  padding-block: 25px;
}

.nav-back-button {
  background: none;
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 12px;
  height: 46px;
  width: 50px;
  cursor: pointer;
}

.nav-back-button:hover {
  filter: brightness(80%);
}

.nav-back-hidden {
  opacity: 0;
  z-index: -100;
  cursor: unset;
}
