.dbadmin{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: 100px;
}
.admin-nav{
    position: sticky;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-self: flex-start;
    padding-inline: 10%;
    padding-block: 8px;
    background-color: black;
    width: max-content;
    border-bottom: 1px solid var(--border-color);
    top: 81px;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
}
.payroll-input-group{
    display: flex;
    flex-direction: column;
    width: min-content;
    min-width: 120px;
    padding-top: 10px;
    gap: 5px;
}

.payroll-header{
    width: 80%;
    margin-left: calc(10% + 10px);
    color: white;
    display: flex;
    margin-bottom: 30px;
    padding-bottom: 20px;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 137px;
    background-color: black;
    z-index: 80;
    align-self: flex-start;
    padding-top: 15px
}
.payroll-row{
    display: block;
    color: white;
    font-weight: 600;
    padding-bottom: 40px;
    box-sizing: border-box;
    width: 80%;
    margin-left: calc(10% + 10px);
}

.input-text-payroll{
    color: white;
    font-weight: 500;
    font-size: 14px;
}
.payroll-dates{
    font-size: 16px;
}
.payroll-date-buttons{
    display: flex;
    width: 100px;
    gap: 10px;
}

.payroll-input-row{
    display: grid;
    grid-template-columns: .4fr 1fr auto;
    justify-content: space-between;
    gap: 15px;
}
.input-row{
    display: flex;
    align-items: center;
    gap: 10px;
}
.input-row-center{
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.input-row-center::-webkit-scrollbar {
    display: none;
  }

.reserve-select-payroll{
    background-color: var( --dark-container-color);
    color: white;
    text-align: right;
    font-size: 14px;
    padding: 8px;
    padding-left: 20px;
    opacity: 1;
}
.payroll-input-wrapper{
    position: relative;
    display: inline-block;
}
.payroll-input-wrapper::before {
    content: '$';
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-weight: 500;
    font-size: 14px;
}

.payroll-pdf-hider{
    position: fixed;
    z-index: -5000;
}

.payroll-pdf{
    font-size: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.employee-box{
    padding: 30px;
    padding-inline: 20px;
    border: 1px solid black;
}
.bold{
    font-weight: 800;
}
.right-row{
    display: flex;
    width: 20%;
    gap: 30px;
    align-items: flex-end;
    justify-content: flex-end;
    align-content: center;
}
.right-row button{
    width: 30%;
}
