:root {
  --gold: #d3963a;
  --new-gold: #d3a83a;
  --gold-2: #202020;
  --nice-white: #f8f4f1;
  --paper-white: #f8f4f1;
  --gold-m: #cfb283;
  --gold-m: #b7a18d;
  --gold-m-fr-fr: #b99258;
  --gold-no: #dd9e3f;
  --orange-gold: #be7439;
  --menu-gold-1: #d21e1e;
  --menu-gold-2: #f50039;
  --light-red: #d21e1e;
  --red: #ad0f0f;
  --dark-red: #ad1111;
  --black: #121212;
  --dark-black: black;
  --light-black: #444444;
  --disabled: #808080;
  --black-hover: #f8f2eb;
  --white: rgb(231, 231, 231);
  --black-text: #ecceb5;
  background-color: rgb(255, 255, 255);
  --asdkfnr: #faebd7;
}

body {
  font-size: 1.125rem;
}
.fancy-text {
  font-size: 3rem;
  color: var(--nice-white);
  font-weight: 800;
}
.ft-small {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.page-container {
  position: relative;
  margin-top: 80px;
  width: 90%;
  margin-inline: auto;
}
.App-link {
  color: #61dafb;
}
.app {
  position: relative;
  background-color: var(--black);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hl {
  height: 1px;
  width: 100%;
  background-color: var(--gold);
}

.left {
  text-align: left;
}
.inline {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-self: space-between;
  width: 40%;
}
.inline-baseline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.button-main {
  width: 50%;
  padding: 18px;
  background: none;
  border-radius: 2px;
  outline: none;
  box-shadow: none;
  background-color: #1212126c;
  color: white;
  font-size: 1vw;
  transition: 0.3s;
  border: solid 2px white;
  cursor: pointer;
}

.button-main:hover {
  color: var(--black);
  background-color: var(--black-hover);
  outline: none;
}

.button-main:active {
  color: var(--nice-white);
  border-color: white;
  border: solid 1px;
}

.navbar {
  background-color: var(--black);
  border-bottom: 2px solid rgba(250, 235, 215, 0.8);
  position: sticky;
  height: 80px;
  top: 0;
  z-index: 1000;
  padding-top: 15px;
}

.navbar-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-inline: 4vw;
  height: auto;
  padding-bottom: 20px;
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.navbar-logo {
  position: relative;
  height: 50px;
  filter: invert(15%) sepia(10%) saturate(4247%) hue-rotate(329deg) brightness(88%) contrast(87%);;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.navbar-logo:hover{
   filter: invert(15%) sepia(10%) saturate(4247%) hue-rotate(329deg) brightness(88%) contrast(87%);;
}

.navbar-logo-mobile {
  height: 30px;
  filter: invert(15%) sepia(10%) saturate(4247%) hue-rotate(329deg) brightness(88%) contrast(87%);;

}

.navbar-link {
  color: var(--nice-white);
  cursor: pointer;
  font-size: 1rem;
  background-image: linear-gradient(var(--nice-white), var(--nice-white));
  background-repeat: no-repeat;
  background-size: 0px 0px, calc(100% - 0px) 100%;
  background-position: center bottom;
  transition: all 0.23s linear;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  margin-left: 0.75vw;
  margin-right: 0.75vw;
  z-index: 5;
}

.navbar-link:hover {
  background-size: 90% 2px, calc(100% - 50px) 100%;
  cursor: pointer;
  color: white;
}

.navbar-link-active {
  background-image: linear-gradient(var(--gold), var(--gold));
  background-size: 90% 2px, calc(100% - 6px) 100%;
  transition: all 0.23s linear;
  cursor: pointer;
  color: white;
}

.navbar-link-active:hover{
  background-image: linear-gradient(var(--gold), var(--gold));
  background-size: 90% 2px, calc(100% - 6px) 100%;
}

.hamburger-button {
  align-self: center;
  position: relative;
  width: 57px;
  background: none;
  border: none;
  border-radius: 10px;
  display: flex;
  gap: 5px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-top: 8px;
}

.hamburger-line {
  width: 80%;
  margin-left: 20%;
  height: 3px;
  background-color: antiquewhite;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}
.ham-line-1 {
  transform: rotate(45deg) translateX(11.5px);
  margin-left: 0;
}
.ham-line-2 {
  width: 0px;
}
.ham-line-3 {
  transform: rotate(-45deg) translateX(11.5px);
  margin-left: 0;
}
.hamburger-button:hover .hamburger-line {
  filter: brightness(110%);
}

.mobile-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 65px;
  right: 0;
  text-align: right;
  gap: 2rem;
  background: var(--black);
  padding-left: 2rem;
  padding-bottom: 2rem;
  padding-right: 4vw;
  padding-top: 0.2rem;
  border-radius: 0px 0px 0px 5px;
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out;
  border-left: 2px solid var(--nice-white);
  border-bottom: 2px solid var(--nice-white);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.mobile-nav-active {
  transform: translateX(0%);
}

.footer-container {
  width: 100%;
  bottom: 0;
  overflow: none;
}

.footer {
  padding: 1rem;
  border-top: 2px solid var(--nice-white);
  background-color: black;
  position: relative;
  z-index: 3;
}
.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.footer-link {
  color: antiquewhite;
  font-size: 0.8rem;
  font-weight: 700;
  transition: color 0.2s linear;
  cursor: pointer;
}

.footer-link:hover {
  color: var(--gold);
}

.vases {
  position: absolute;
  bottom: 0;
  right: 8vw;
  z-index: 99;
}

.bigger {
  font-size: clamp(0.8rem, 1.6vw, 1.9rem);
}

.giftcard-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: stretch;
  gap: 5px;
}

.giftcard-button {
  padding: 0.8rem;
  min-width: 30%;
  flex-grow: 2;
  outline: none;
  border: 2px solid var(--light-black);
  border-radius: 2px;
  background: none;
  transition: all 0.3s ease-in-out;
}

.giftcard-button:hover {
  background: var(--light-black);
  color: white;
}

.giftcard-button-active {
  color: white;
  background-color: var(--gold);
  border: 2px solid var(--gold);
}

.giftcard-button-active:hover {
  color: white;
  background-color: var(--gold);
  border: 2px solid var(--gold);
}

.gc-bottom-left-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.gc-area {
  height: 11.1rem !important;
}

.left-giftcard-input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.home-header {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.home-pic-container {
  position: relative;
  top: 0;
}

.home-pic {
  width: 100%;
  height: 90vh;
  aspect-ratio: 2/1 auto;
}
.pic-overlay {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  text-align: center;
  color: var(--nice-white);
  border-radius: 1px;
  font-size: 3rem;
  font-weight: 800;
  transition: all 0.25s ease-in-out;
  background-size: 100% 100%;
  background-color:
    rgba(0, 0, 0, 0.35);
}

.pic-content{
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.welcome-buttons{
  position: relative;
  display: flex;
  gap: 10%;
  justify-content: space-between;
}

.home-block {
  width: 100%;
  background-color: var(--black);
  height: 500px;
  z-index: 100;
}

.review-display-container {
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 50%;
  gap: -20px;
  margin-left: 25%;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.review-text {
  position: relative;
  text-align: center;
  color: white;
  align-self: center;
  height: fit-content;
  width: 50%;
  overflow: hidden;
}

.animate-text-out {
  animation: fade-out 1s;
}

.animate-text-in {
  animation: fade-in 1s;
}

.next {
  transform: translate(100%);
}
.embla-container{
  position: relative;
  width: 50%;
  height: 100%;
  margin-top: 8%;
}
.embla {  overflow: hidden;}
.embla__container {  display: flex; align-items: center;}
.embla__slide {  flex: 0 0 100%;  min-width: 0; text-align: center; color: var(--nice-white); height: fit-content;}

@keyframes fade-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
  }
}

.left-branch {
  margin-right: -10%;
}
.right-branch {
  margin-left: -10%;
}

@media (width <= 1300px) {
  .vases {
    width: 12vw;
  }
  .embla-container{
    position: relative;
    width: 80%;
  }
}

@media (width <= 1000px) {
  .fancy-text {
    font-size: 2rem;
  }
  .vases {
    width: 15vw;
    right: 3vw;
  }
}

@media (width <= 800px) {
  .vases {
    width: 20vw;
    right: 2vw;
  }
  .embla-container{
    position: relative;
    width: 85%;
  }
  .embla{
    margin-top: 0;
  }
}

@media (width <= 700px) {
  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding-left: 4vw;
    line-height: 0.9;
    padding-block: 1rem;
  }
  .vases {
    width: 25vw;
    right: 5vw;
  }
  .pic-overlay {
    font-size: 2rem;
  }
  .embla-container{
    position: relative;
    width: 60%;
  }
  .review-display-container {
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 90%;
    margin-left: 5%;
  }
  .embla{
    margin-top: 0px;
  }
  .embla__slide {  font-size: .8rem;}
}

@media (width <= 470px) {
  body {
    font-size: 1rem;
  }
  .footer {
    padding-block: 0.5rem;
  }
  .footer-links {
    padding-left: 0.2rem;
  }
  .vases {
    width: 25vw;
    right: 2vw;
  }
  .pic-overlay {
    font-size: 1.5rem;
  }

  .review-display-container {
    height: 200px;
    width: 95%;
    margin-left: 2.5%;
  }
  .embla{
    margin-top: -10px;
  }
  .embla__slide {  font-size: .8rem;}

}

@media (width <= 380px) {
  .fancy-text {
    font-size: 1.7rem;
  }
}
