:root {
  --gold: #d3963add;
  --new-gold: #d3a83a;
  --gold-2: #202020;
  --nice-white: rgb(248, 244, 241);
  --paper-white: #f8f4f1;
  --paper-white2: #f8f4f1c1;
  --gold-m: #f7deb505;
  --gold-m: #b7a18d10;
  --gold-m-fr-fr: #b99258;
  --gold-no: #dd9e3f;
  --orange-gold: #be7439;
  --menu-gold-1: #d21e1e;
  --menu-gold-2: #f50039;
  --light-red: #d21e1e;
  --red: #ad0f0f;
  --green: #008209;
  --dark-red: #ad1111;
  --nice-gray: rgb(10, 10, 10);
  --black: #151319;
  --dark-black: #1d1b28;
  --light-black: #444444;
  --border-color: #5b5b5b;
  --subtle-border-color: #b6b6b6;
  --transparent-border-color: #b6b6b62c;
  --disabled: #808080;
  --black-hover: #f8f2eb;
  --white: rgb(231, 231, 231);
  --black-text: #ecceb5;
  background-color: rgb(255, 255, 255);
  --asdkfnr: #faebd7;
  --color-bg-light: #1c1c1f;
  --color-bg-green-tint: hsl(148, 45%, 13%);
  --color-bg-red-tint: hsla(0, 24%, 30%, 0.855);
  --dark-container-color: #1d1d1d;
  --box-shadow: 0 0 5px rgba(228, 228, 228, 0.1),
    0 0 10px rgba(210, 210, 210, 0.2) inset;
  --highlight: #323335;
}

#path1,
#path2 {
  fill: #ffffff00;
  stroke: white; 
}

#path2 {
  will-change: fill;
  stroke-dasharray: 1663;
  stroke-dashoffset: 1663;
  stroke-width: 1px;
  animation: fillSvg 2s ease-in 1.8s forwards;
}

#w{
  will-change: stroke-dashoffset;
  stroke-dasharray: 379;
  stroke-dashoffset: 0;
  animation: drawW 1.5s ease-in-out .5s forwards;
  -webkit-transform: translateZ(0);

}
@keyframes drawW {
  from {
    stroke-dashoffset: 748;
  }
  to {
    stroke-dashoffset: 379;
  }
}

#e{
  will-change: stroke-dashoffset;
  stroke-dasharray: 148;
  stroke-dashoffset: 0;
  animation: drawE .8s ease-in-out 1.1s forwards;
  -webkit-transform: translateZ(0);

}
@keyframes drawE {
  from {
    stroke-dashoffset: 296;
  }
  to {
    stroke-dashoffset: 148; 
  }
}

#l{
  will-change: stroke-dashoffset;
  stroke-dasharray: 106;
  stroke-dashoffset: 0;
  animation: drawL .7s ease-in-out 1.4s forwards;
  -webkit-transform: translateZ(0);

}
@keyframes drawL {
  from {
    stroke-dashoffset: 212;
  }
  to {
    stroke-dashoffset: 106;
  }
}

#c{
  will-change: stroke-dashoffset;
  stroke-dasharray: 118;
  stroke-dashoffset: 0;
  animation: drawC .7s ease-in-out 1.6s forwards;
  -webkit-transform: translateZ(0);

}
@keyframes drawC {  from {
  stroke-dashoffset: 236;
}
  to {
    stroke-dashoffset: 118;
  }
}

#o{
  will-change: stroke-dashoffset;
  stroke-dasharray: 126;
  stroke-dashoffset: 0;
  animation: drawO .7s ease-in-out 1.8s forwards;
  -webkit-transform: translateZ(0);

}
@keyframes drawO {
  from {
    stroke-dashoffset: 252;
  }
  to {
    stroke-dashoffset: 126;
  }
}

#m{
  will-change: stroke-dashoffset;
  stroke-dasharray: 284;
  stroke-dashoffset: 0;
  animation: drawM 1.2s ease-in-out 2s forwards;
  -webkit-transform: translateZ(0);

}
@keyframes drawM {
  from {
    stroke-dashoffset: 568;
  }
  to {
    stroke-dashoffset: 284;
  }
}

#e2{
  will-change: stroke-dashoffset;
  stroke-dasharray: 147;
  stroke-dashoffset: 0;
  animation: drawE2 1.4s ease-in-out 2.2s forwards;
  -webkit-transform: translateZ(0);

}
@keyframes drawE2 {
  from {
    stroke-dashoffset: 294;
  }
  to {
    stroke-dashoffset: 147;
  }
}



@keyframes fillSvg {
  to {
    fill: white;
  }
}

h2 {
  font-size: 1.5rem;
  color: white;
  margin: 0px;
  font-weight: 600;
}
h3 {
  font-size: 1.1rem;
  color: white;
  font-weight: 500;
  margin: 0px;
}

p,a {
  color: white;
  font-size: 1.1rem;
  margin: 0px;
  line-height: 1.7rem;
}

a{
  text-decoration: underline;
  cursor: pointer;
}

a:hover{
  color: var(--gold);
}

@media (width <= 470px) {
  p,a {
    font-size: 1rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  .subtle-button {
    font-size: 0.8rem !important;
  }
}
html,
body {
  height: 100%;
  scrollbar-color: var(--gold) var(--black) !important;
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.3em;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: var(--gold);
  outline: none;
}

body {
  font-size: 1.125rem;
}
.fancy-text {
  font-size: 3rem;
  color: var(--nice-white);
  font-weight: 800;
}
.ft-small {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.swal-header {
  margin-bottom: -20px;
}

.page-container {
  position: relative;
  margin-top: 80px;
  width: 90%;
  margin-inline: auto;
}
.App-link {
  color: #61dafb;
}
.app {
  position: relative;
  background-color: var(--black);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hl {
  height: 1px;
  width: 100%;
  background-color: var(--gold);
}
.gold {
  color: var(--gold) !important;
}

.left {
  text-align: left;
}
.inline {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-self: space-between;
  width: 40%;
}
.inline-baseline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.button-main {
  height: 35px;
  background: none;
  border-radius: 2px;
  outline: none;
  box-shadow: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.3s;
  border: none;
  cursor: pointer;
  transition: all 0.23s linear;
  background-image: linear-gradient(var(--nice-white), var(--nice-white));
  background-repeat: no-repeat;
  background-size: 0px 0px, calc(100% - 0px) 100%;
  background-position: center bottom;
}

.button-main:hover {
  outline: none;
  background-size: 90% 2px, calc(100% - 50px) 100%;
  cursor: pointer;
  color: white;
}

.button-main:active {
  color: var(--nice-white);
  border-color: white;
  border: solid 1px;
}

.navbar {
  background-color: var(--black);
  border-bottom: 2px solid rgba(250, 235, 215, 0.8);
  position: sticky;
  height: 80px;
  top: 0;
  z-index: 1000;
}

.navbar-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-inline: 4vw;
  height: auto;
  padding-block: 15px;
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.navbar-logo {
  position: relative;
  height: 50px;
  filter: invert(15%) sepia(10%) saturate(4247%) hue-rotate(329deg)
    brightness(88%) contrast(87%);
  transition: all 0.3s ease-in-out;
  cursor: pointer;

}

.navbar-logo:hover {
  filter: invert(15%) sepia(10%) saturate(4247%) hue-rotate(329deg)
    brightness(88%) contrast(87%);
}

.navbar-logo-mobile {
  height: 30px;
  filter: invert(15%) sepia(10%) saturate(4247%) hue-rotate(329deg)
    brightness(88%) contrast(87%);
}

.navbar-link {
  color: var(--nice-white);
  cursor: pointer;
  font-size: 1.1rem;
  background-image: linear-gradient(var(--nice-white), var(--nice-white));
  background-repeat: no-repeat;
  background-size: 0px 0px, calc(100% - 0px) 100%;
  background-position: center bottom;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  margin-left: 0.75vw;
  margin-right: 0.75vw;
  z-index: 5;
  padding-top: 8px;
}

.navbar-link:hover {
  background-size: 90% 2px, calc(100% - 50px) 100%;
  cursor: pointer;
  color: white;
  transition: all 0.23s linear;
}

.navbar-link-active {
  background-image: linear-gradient(var(--gold), var(--gold));
  background-size: 90% 2px, calc(100% - 6px) 100%;
  transition: all 0.23s linear;
  cursor: pointer;
  color: white;
}

.navbar-link-active:hover {
  background-image: linear-gradient(var(--gold), var(--gold));
  background-size: 90% 2px, calc(100% - 6px) 100%;
}

.hamburger-button {
  align-self: center;
  position: relative;
  width: 57px;
  background: none;
  border: none;
  border-radius: 10px;
  display: flex;
  gap: 5px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-top: 8px;
}

.hamburger-line {
  width: 80%;
  margin-left: 20%;
  height: 3px;
  background-color: antiquewhite;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}
.ham-line-1 {
  transform: rotate(45deg) translateX(11.5px);
  margin-left: 0;
}
.ham-line-2 {
  width: 0px;
}
.ham-line-3 {
  transform: rotate(-45deg) translateX(11.5px);
  margin-left: 0;
}
.hamburger-button:hover .hamburger-line {
  filter: brightness(110%);
}

.mobile-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 60px;
  right: 0;
  text-align: right;
  gap: 2rem;
  background: var(--black);
  padding-left: 2rem;
  padding-bottom: 2rem;
  padding-right: 4vw;
  padding-top: 0.2rem;
  border-radius: 0px 0px 0px 5px;
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out;
  border-left: 2px solid var(--nice-white);
  border-bottom: 2px solid var(--nice-white);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.mobile-nav-active {
  transform: translateX(0%);
}

.footer-container {
  width: 100%;
  bottom: 0;
  overflow: none;
}

.footer {
  padding: 1rem;
  border-top: 2px solid var(--border-color);
  background-color: black;
  position: relative;
  z-index: 3;
}
.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 2rem;
}

.footer-link {
  color: antiquewhite;
  font-size: 0.6rem;
  font-weight: 500;
  transition: color 0.2s linear;
  cursor: pointer;
}

.footer-link:hover {
  color: var(--gold);
}

.vases {
  position: absolute;
  bottom: 0;
  right: 8vw;
  z-index: 99;
}

.bigger {
  font-size: clamp(0.8rem, 1.6vw, 1.9rem);
}

.giftcard-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: stretch;
  gap: 10px;
}

.giftcard-button {
  padding: 0.8rem;
  min-width: 30%;
  flex-grow: 2;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 7px;
  background-color: var(--nice-white);
  transition: all 0.3s ease-in-out;
  color: var(--black);
  cursor: pointer;
}

.giftcard-button:hover {
  filter: brightness(95%);
}
.giftcard-button-active {
  color: white;
  filter: brightness(110%);
  background-color: var(--gold) !important;
  border: 1px solid var(--gold) !important;
  box-shadow: 4px 6px rgba(0, 0, 0, 0.1);
}

.giftcard-button-active:hover {
  filter: brightness(100%);
}

.gc-bottom-left-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.gc-area {
  height: 11.1rem !important;
}

.giftcard-input {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.home-header {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.home-pic-container {
  position: relative;
  top: 0;
}

.home-pic {
  position: sticky;
  width: 100%;
  height: 90vh;
  aspect-ratio: 2/1 auto;
}

.mid-pic-overlay {
  z-index: 10;
  position: relative;
  width: 100%;
  height: 45vh;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
}

.mid-pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.9);
}

.pic-overlay {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  text-align: center;
  color: var(--nice-white);
  border-radius: 1px;
  font-size: 3rem;
  font-weight: 800;
  transition: all 0.25s ease-in-out;
  background-size: 100% 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.pic-content {
  width: 523px;
  height: 168px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  will-change: filter;
  animation: shadow 1.2s ease-in-out .5s forwards;
}

@keyframes shadow {
  from {
    filter: drop-shadow();
  } 
  to {
    filter: drop-shadow(0px 0px 32px #21212135) drop-shadow(0px 0px 16px #212121)
    drop-shadow(0px 0px 12px #000000);
  }
}


@media (width <= 800px) {
  .pic-content {
    width: 423px;
    margin-top: -100px;
  }
}

.scroll-down-wrapper {
  position: absolute;
  bottom: 0;
}

@media (width <= 400px) {
  .pic-content {
    width: 300px;
    margin-top: -100px;
  }
  .scroll-down-wrapper {
    position: absolute;
    bottom: 50px;
  }
  
}

@font-face {
  font-family: "Caxton Book BT";
  font-style: normal;
  font-weight: normal;
  src: local("Caxton Book BT"), url("CAXTON2.woff") format("woff");
}

@font-face {
  font-family: "Caxton Bold BT";
  font-style: normal;
  font-weight: normal;
  src: local("Caxton Bold BT"), url("caxton.woff") format("woff");
}

.hero-text {
  font-size: 3.2rem;
  font-family: "Caxton Bold BT";
  color: var(--paper-white);
}

.welcome-buttons {
  position: relative;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 50px;
  filter: drop-shadow(0px 0px 4px #212121);
}

.review-wrapper {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.review-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 600px;
  margin-inline: auto;
  overflow: hidden;
  padding-bottom: 80px;
}

.home {
  overflow-x: hidden;
}

.left-branch,
.right-branch {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  height: 300px;
  width: 200px;
  display: block;
  pointer-events: all;
  transition: all 0.3s ease-in-out;
}

.left-branch {
  margin-right: -10%;
}
.right-branch {
  margin-left: -10%;
}

.left-branch:hover,
.right-branch:hover {
  transform: scale(1.05);
  filter: brightness(0.7);
}

.review {
  position: absolute;
  width: 300px;
  text-align: center;
  color: var(--nice-white);
  font-size: 1rem;
}

@media (width <= 600px) {
  .hero-text {
    font-size: 2.6rem;
    font-family: "Caxton Bold BT";
    color: var(--paper-white);
  }
  
  .review-container {
    width: 120%;
    overflow: hidden;
    margin-left: -10%;
    padding-block: 120px;
  }
  .review-wrapper {
    position: relative;
    width: 275px;
  }
  .review {
    width: 300px !important;
    font-size: 0.8rem;
  }
  .left-branch,
  .right-branch {
    height: 700px;
    width: 600px;
  }
  .left-branch {
    margin-right: -15%;
  }
  .right-branch {
    margin-left: -15%;
  }
}

@keyframes fade-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
  }
}

@media (width <= 1300px) {
  .vases {
    width: 12vw;
  }
}

@media (width <= 1000px) {
  .fancy-text {
    font-size: 2rem;
  }
  .vases {
    width: 15vw;
    right: 3vw;
  }
  .mid-pic {
    height: 30vh;
  }
  .home-right {
    display: none !important;
  }
}

@media (width <= 800px) {
  .vases {
    width: 20vw;
    right: 2vw;
  }
}

@media (width <= 700px) {
  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding-left: 4vw;
    line-height: 0.9;
    padding-block: 1rem;
  }
  .vases {
    width: 25vw;
    right: 5vw;
  }
  .pic-overlay {
    font-size: 2rem;
  }
  .review-display-container {
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 90%;
    margin-left: 4.5%;
  }
  .welcome-buttons {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .button-main {
    width: 50%;
    font-size: 1rem;
    padding: 14px;
  }
}

@media (width <= 470px) {
  body {
    font-size: 1rem;
  }
  .footer {
    padding-block: 0.5rem;
  }
  .footer-links {
    padding-left: 0.2rem;
  }
  .vases {
    width: 25vw;
    right: 2vw;
  }
  .pic-overlay {
    font-size: 1.5rem;
  }
  .review-display-container {
    height: 200px;
    width: 95%;
    margin-left: 2.5%;
  }
  .button-main {
    font-size: 0.9rem;
  }
  .emblem-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
}

@media (width <= 380px) {
  .fancy-text {
    font-size: 1.7rem;
  }
}

.mt-10 {
  margin-top: 15px;
}

.empty {
  height: calc(100vh - 97px - 53px);
}

.gold-highlight {
  background-color: var(--gold);
  display: inline;
}

.home-block {
  width: 100%;
  background-color: var(--black);
  z-index: 100;
  padding-inline: 10%;
  padding-top: clamp(10px, 3%, 50px);
  padding-bottom: clamp(100px, 8%, 200px);
  box-sizing: border-box;
}

.hb-even {
  padding-bottom: clamp(50px, 6%, 100px);
}

.home-flex {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-between;
}

.home-flex > div {
  width: 45%;
}

.home-left {
  display: flex;
  flex-direction: column;
  padding-top: 1;
  justify-content: space-around;
  gap: 70px;
}

.home-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.subtle-button {
  color: white;
  background: none;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
}

.subtle-button:hover {
  color: var(--gold);
}

.emblem-block {
  width: 100%;
  border-top: 2px solid var(--border-color);
  background-color: black;
  padding-block: 20px;
  padding-top: 26px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.emblem-block div {
  width: 150px;
  height: 150px;
}

.hb-row {
  display: flex;
  justify-content: space-around;
}

.hb-row > div {
  width: 45%;
}

.time-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 76%;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

@media (width <= 1000px) {
  .home-flex {
    flex-wrap: wrap;
  }
  .home-flex div {
    width: 100%;
  }
  .home-block {
    padding-top: 18%;
    padding-bottom: 16%;
  }
  .hb-row {
    flex-wrap: wrap;
    gap: 30px;
  }
  .hb-row .details {
    width: 100%;
  }
  .time-div {
    width: 99%;
  }
  .button-row {
    padding-bottom: 80px;
  }
}

.top-line {
  border-top: 2px solid var(--border-color);
  z-index: 98;
  position: relative;
}

.selector {
  font-size: 1rem;
  text-align: right;
  cursor: pointer;
  position: relative;
  background: none;
  border: none;
  padding: 10px;
  color: white;
}

.selector-active {
  color: var(--gold);
  font-weight: bold;
}

.animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  z-index: 1500;
}

.dashboard-wrapper {
  font-family: "Arial";
}

button {
  font-family: "Caxton Book BT";
}

.dashboard-wrapper button {
  font-family: "Arial";
}

.review-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 40px;
}
.review-section h2 {
  position: absolute;
  text-align: center;
  margin-top: -200px;
}
@media (max-width: 600px) {
  .review-section {
    padding-block: 40px;
  }
  .review-section h2 {
    margin-top: -170px;
  }
  .home-block {
    padding-inline: 5%;
  }
}

.more-padding {
  padding-block: 120px;
}
