:root {
  --gold: #d3963add;
  --new-gold: #d3a83a;
  --gold-2: #202020;
  --nice-white: #f8f4f1;
  --paper-white: #f8f4f1;
  --gold-m: #f7deb505;
  --gold-m: #b7a18d10;
  --gold-m-fr-fr: #b99258;
  --gold-no: #dd9e3f;
  --orange-gold: #be7439;
  --menu-gold-1: #d21e1e;
  --menu-gold-2: #f50039;
  --light-red: #d21e1e;
  --red: #ad0f0f;
  --green: #008209;
  --dark-red: #ad1111;
  --nice-gray: rgb(10, 10, 10);
  --black: #121212;
  --dark-black: black;
  --light-black: #444444;
  --border-color: #b6b6b6;
  --transparent-border-color: #b6b6b62c;
  --disabled: #808080;
  --black-hover: #f8f2eb;
  --white: rgb(231, 231, 231);
  --black-text: #ecceb5;
  background-color: rgb(255, 255, 255);
  --asdkfnr: #faebd7;
  --color-bg-light: #2d2d34;
  --color-bg-green-tint: hsl(148, 45%, 13%);
  --color-bg-red-tint: hsla(0, 24%, 30%, 0.855);
  --dark-container-color: #121212;
}

h2 {
  font-size: 1.5rem;
  color: white;
  margin: 0px;
  font-weight: 600;
}
h3 {
  font-size: 1.1rem;
  color: white;
  font-weight: 500;
  margin: 0px;
}
p {
  color: white;
  font-size: 1rem;
  margin: 0px;
  line-height: 1.7rem;
}
@media (width <= 470px) {
  p{
    font-size: .8rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  .subtle-button{
    font-size: .8rem !important;
  }
}
html,
body {
  height: 100%;
  scrollbar-color: var(--gold) var(--black) !important;
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.3em;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: var(--gold);
  outline: none;
}

body {
  font-size: 1.125rem;
}
.fancy-text {
  font-size: 3rem;
  color: var(--nice-white);
  font-weight: 800;
}
.ft-small {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.swal-header {
  margin-bottom: -20px;
}

.page-container {
  position: relative;
  margin-top: 80px;
  width: 90%;
  margin-inline: auto;
}
.App-link {
  color: #61dafb;
}
.app {
  position: relative;
  background-color: var(--black);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hl {
  height: 1px;
  width: 100%;
  background-color: var(--gold);
}
.gold {
  color: var(--gold) !important;
}

.left {
  text-align: left;
}
.inline {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-self: space-between;
  width: 40%;
}
.inline-baseline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.button-main {
  width: 50%;
  padding: 18px;
  background: none;
  border-radius: 2px;
  outline: none;
  box-shadow: none;
  background-color: #1212128d;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s;
  border: solid 2px var(--white);
  cursor: pointer;
}

.button-main:hover {
  color: var(--black);
  background-color: var(--black-hover);
  outline: none;
}

.button-main:active {
  color: var(--nice-white);
  border-color: white;
  border: solid 1px;
}

.navbar {
  background-color: var(--black);
  border-bottom: 2px solid rgba(250, 235, 215, 0.8);
  position: sticky;
  height: 80px;
  top: 0;
  z-index: 1000;
  padding-top: 15px;
}

.navbar-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-inline: 4vw;
  height: auto;
  padding-bottom: 20px;
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.navbar-logo {
  position: relative;
  height: 50px;
  filter: invert(15%) sepia(10%) saturate(4247%) hue-rotate(329deg)
    brightness(88%) contrast(87%);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.navbar-logo:hover {
  filter: invert(15%) sepia(10%) saturate(4247%) hue-rotate(329deg)
    brightness(88%) contrast(87%);
}

.navbar-logo-mobile {
  height: 30px;
  filter: invert(15%) sepia(10%) saturate(4247%) hue-rotate(329deg)
    brightness(88%) contrast(87%);
}

.navbar-link {
  color: var(--nice-white);
  cursor: pointer;
  font-size: 1rem;
  background-image: linear-gradient(var(--nice-white), var(--nice-white));
  background-repeat: no-repeat;
  background-size: 0px 0px, calc(100% - 0px) 100%;
  background-position: center bottom;
  transition: all 0.23s linear;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  margin-left: 0.75vw;
  margin-right: 0.75vw;
  z-index: 5;
}

.navbar-link:hover {
  background-size: 90% 2px, calc(100% - 50px) 100%;
  cursor: pointer;
  color: white;
}

.navbar-link-active {
  background-image: linear-gradient(var(--gold), var(--gold));
  background-size: 90% 2px, calc(100% - 6px) 100%;
  transition: all 0.23s linear;
  cursor: pointer;
  color: white;
}

.navbar-link-active:hover {
  background-image: linear-gradient(var(--gold), var(--gold));
  background-size: 90% 2px, calc(100% - 6px) 100%;
}

.hamburger-button {
  align-self: center;
  position: relative;
  width: 57px;
  background: none;
  border: none;
  border-radius: 10px;
  display: flex;
  gap: 5px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-top: 8px;
}

.hamburger-line {
  width: 80%;
  margin-left: 20%;
  height: 3px;
  background-color: antiquewhite;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}
.ham-line-1 {
  transform: rotate(45deg) translateX(11.5px);
  margin-left: 0;
}
.ham-line-2 {
  width: 0px;
}
.ham-line-3 {
  transform: rotate(-45deg) translateX(11.5px);
  margin-left: 0;
}
.hamburger-button:hover .hamburger-line {
  filter: brightness(110%);
}

.mobile-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 65px;
  right: 0;
  text-align: right;
  gap: 2rem;
  background: var(--black);
  padding-left: 2rem;
  padding-bottom: 2rem;
  padding-right: 4vw;
  padding-top: 0.2rem;
  border-radius: 0px 0px 0px 5px;
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out;
  border-left: 2px solid var(--nice-white);
  border-bottom: 2px solid var(--nice-white);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.mobile-nav-active {
  transform: translateX(0%);
}

.footer-container {
  width: 100%;
  bottom: 0;
  overflow: none;
}

.footer {
  padding: 1rem;
  border-top: 2px solid var(--border-color);
  background-color: black;
  position: relative;
  z-index: 3;
}
.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 2rem;
}

.footer-link {
  color: antiquewhite;
  font-size: 0.6rem;
  font-weight: 500;
  transition: color 0.2s linear;
  cursor: pointer;
}

.footer-link:hover {
  color: var(--gold);
}

.vases {
  position: absolute;
  bottom: 0;
  right: 8vw;
  z-index: 99;
}

.bigger {
  font-size: clamp(0.8rem, 1.6vw, 1.9rem);
}

.giftcard-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: stretch;
  gap: 10px;
}

.giftcard-button {
  padding: 0.8rem;
  min-width: 30%;
  flex-grow: 2;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 7px;
  background-color: var(--nice-white);
  transition: all 0.3s ease-in-out;
  color: var(--black);
  cursor: pointer;
}

.giftcard-button:hover {
  filter: brightness(95%);
}
.giftcard-button-active {
  color: white;
  filter: brightness(110%);
  background-color: var(--gold) !important;
  border: 1px solid var(--gold) !important;
  box-shadow: 4px 6px rgba(0, 0, 0, 0.1);
}

.giftcard-button-active:hover {
  filter: brightness(100%);
}

.gc-bottom-left-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.gc-area {
  height: 11.1rem !important;
}

.giftcard-input {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.home-header {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.home-pic-container {
  position: relative;
  top: 0;
}

.home-pic {
  width: 100%;
  height: 90vh;
  aspect-ratio: 2/1 auto;
}
.mid-pic {
  width: 100%;
  height: 45vh;
  aspect-ratio: 2/1 auto;
}
.pic-overlay {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  text-align: center;
  color: var(--nice-white);
  border-radius: 1px;
  font-size: 3rem;
  font-weight: 800;
  transition: all 0.25s ease-in-out;
  background-size: 100% 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.pic-content {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.welcome-buttons {
  position: relative;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}

.review-display-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-display-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 300px;
  width: 45%;
  gap: -20px;
  transition: all 0.3s ease-in-out;
}
.review-text {
  position: relative;
  text-align: center;
  color: white;
  align-self: center;
  height: fit-content;
  width: 50%;
  overflow: hidden;
}

.animate-text-out {
  animation: fade-out 1s;
}

.animate-text-in {
  animation: fade-in 1s;
}

.next {
  transform: translate(100%);
}
.embla-container {
  position: relative;
  width: 50%;
  height: 100%;
  margin-top: 8%;
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  align-items: center;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  text-align: center;
  color: var(--nice-white);
  height: fit-content;
  font-size: 1rem;
}

@keyframes fade-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
  }
}

.left-branch {
  margin-right: -10%;
}
.right-branch {
  margin-left: -10%;
}

@media (width <= 1300px) {
  .vases {
    width: 12vw;
  }
  .embla-container {
    position: relative;
    width: 80%;
  }
}

@media (width <= 1000px) {
  .fancy-text {
    font-size: 2rem;
  }
  .vases {
    width: 15vw;
    right: 3vw;
  }
  .mid-pic {
    height: 30vh;
  }
  .home-right {
    display: none !important;
  }
}

@media (width <= 800px) {
  .vases {
    width: 20vw;
    right: 2vw;
  }
  .embla-container {
    position: relative;
    width: 85%;
  }
  .embla {
    margin-top: 0;
  }
}

@media (width <= 700px) {
  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding-left: 4vw;
    line-height: 0.9;
    padding-block: 1rem;
  }
  .vases {
    width: 25vw;
    right: 5vw;
  }
  .pic-overlay {
    font-size: 2rem;
  }
  .embla-container {
    position: relative;
    width: 60%;
  }
  .review-display-container {
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 90%;
    margin-left: 4.5%;
  }
  .embla {
    margin-top: 0px;
  }
  .embla__slide {
    font-size: 0.8rem;
  }
  .welcome-buttons {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .button-main {
    width: 75%;
    font-size: 0.8rem;
    padding: 14px;
  }
}

@media (width <= 470px) {
  body {
    font-size: 1rem;
  }
  .footer {
    padding-block: 0.5rem;
  }
  .footer-links {
    padding-left: 0.2rem;
  }
  .vases {
    width: 25vw;
    right: 2vw;
  }
  .pic-overlay {
    font-size: 1.5rem;
  }
  .mid-pic {
    height: 35vh;
  }
  .review-display-container {
    height: 200px;
    width: 95%;
    margin-left: 2.5%;
  }
  .embla {
    margin-top: -10px;
  }
  .embla__slide {
    font-size: 0.8rem;
  }
  .button-main {
    font-size: 0.75rem;
  }
  .embla-container{
    margin-top: 0px;
  }
  .emblem-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

}

@media (width <= 380px) {
  .fancy-text {
    font-size: 1.7rem;
  }
}

.mt-10 {
  margin-top: 15px;
}

.empty {
  height: calc(100vh - 97px - 53px);
}

.gold-highlight {
  background-color: var(--gold);
  display: inline;
}

.home-block {
  width: 100%;
  background-color: var(--black);
  z-index: 100;
  padding-inline: 10%;
  padding-top: clamp(50px, 5%, 100px);
  padding-bottom: clamp(100px, 8%, 200px);
  box-sizing: border-box;
}

.hb-even {
  padding-bottom: clamp(50px, 6%, 100px);
}

.home-flex {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-between;
}

.home-flex > div {
  width: 45%;
}

.home-left {
  display: flex;
  flex-direction: column;
  padding-top: 1;
  justify-content: space-around;
  gap: 10px;
}

.home-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.subtle-button {
  color: white;
  background-color: var(  --gold-2);
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
}

.subtle-button:hover {
  background-color: var(--gold);
}

.emblem-block {
  width: 100%;
  border-top: 2px solid var(--border-color);
  background-color: black;
  padding-block: 20px;
  padding-top: 26px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.emblem-block div{
  width: 150px;
  height: 150px;
}


.hb-row {
  display: flex;
  justify-content: space-around;
}

.hb-row > div {
  width: 45%;
}

.time-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 76%;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

@media (width <= 1000px) {
  .home-flex {
    flex-wrap: wrap;
  }
  .home-flex div {
    width: 100%;
  }
  .home-block {
    padding-top: 18%;
    padding-bottom: 16%;
  }
  .hb-row {
    flex-wrap: wrap;
    gap: 30px;
  }
  .hb-row .details {
    width: 100%;
  }
  .time-div {
    width: 99%;
  }
  .button-row {
    padding-top: 20px;
  }
}

.top-line{
  border-top: 2px solid var(--border-color);
  z-index: 98;
  position: relative;
}

.selector{
  font-size: 1rem;
  text-align: right;
  cursor: pointer;
  position: relative;
  background: none;
  border: none;
  padding: 10px;
  color: white;
}

.selector-active {
  color: var(--gold);
  font-weight: bold;
}