.background-color {
  width: 100%;
  min-height: 100vh;
  background-color: var(--order-background);
  padding-bottom: 150px;
}

.cart-button {
  right: 0;
  padding-block: 6px;
  padding-left: 15px;
  color: var(--paper-white);
  border-left: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0s ease-in-out;
}

.cart-button:hover {
  color: var(--gold);
}

.cart-button:hover .bag-icon {
  filter: invert(15%) sepia(18%) saturate(3338%) hue-rotate(330deg)
    brightness(88%) contrast(86%);
}
.order-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 80%;
  padding-top: 30px;
  padding-bottom: 45px;
  margin-inline: auto;
}

.sub-menu-header {
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
  padding-bottom: 5px;
}

.order-container-sub {
  padding-top: 0 !important;
}
.sub-menu-container {
  padding-top: 15px;
}

.order-top {
  background-color: black;
  position: sticky;
  top: 97px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgba(250, 235, 215, 0.8);
}

.scroll-wrapper {
  overflow-x: auto;
}

.order-selectors {
  overflow: visible;
  box-sizing: border-box;
  white-space: nowrap;
  padding-block: 0.38rem;
  scrollbar-width: thin;
  width: fit-content;
  overflow-y: auto;
}

.cart-section {
  flex-shrink: 0;
  padding-top: 6.5px;
  padding-bottom: 7px;
  padding-right: 0px !important;
}

.order-selector {
  color: var(--nice-white);
  text-align: right;
  cursor: pointer;
  display: inline-block;
  padding-right: 1rem;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.order-selector:hover {
  color: var(--gold);
}

.order-section {
  color: var(--nice-white);
  width: 100%;
  margin-bottom: 3rem;
  position: relative;
}

.order-section-header {
  font-weight: 800;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  position: sticky;
  top: -50px;
}

.section-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px 15px;
}

.item-container {
  box-sizing: border-box;
  position: relative;
  width: calc(33% - 10px);
  background-color: var(--paper-white);
  padding: 20px 20px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  color: white;
  text-align: left;
  border: none;
  font-size: unset;
  transition: all 0.3s;
  color: var(--black);
  display: flex;
  flex-direction: column;
}

.item-modal {
  border-radius: 5px;
  min-width: 30%;
  max-width: 600px;
  transition: all 0.3 ease-in-out;
}

.inside-modal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.item-container:hover {
  transform: scale(1.005);
  box-shadow: var(--box-shadow);
}
.item-container-open:hover {
  transform: none;
  cursor: default;
}

.header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.item-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.item-closed-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  width: 100%;
}
.item-name {
  font-weight: 800;
  font-size: 1.125rem;
  color: var(--gold);
  align-self: baseline;
}
.item-info-left {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: 85%;
}

.item-name-open {
  margin-top: -0.2rem;
  font-size: 1.5rem;
  text-wrap: balance;
}
.item-price {
  font-size: 1.2rem;
}
.item-desc {
  font-size: 0.9rem;
}
.item-desc-open {
  font-size: 1rem;
  width: 90%;
}
.item-section {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 2rem;
}

.item-subheader {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.req-input {
  transition: all 0.3s ease-in-out;
  width: 90%;
  resize: vertical;
  min-height: 5rem;
  max-height: 10rem;
  font: unset;
  font-size: 1rem;
  background: none;
  color: var(--black);
  border-radius: 5px;
  border: 1px solid var(--border-color);
  padding: 0.5rem;
  box-sizing: border-box;
}
.req-input:focus {
  outline: none;
  border: 1px solid var(--border-color);
  filter: brightness(80%);
}

.item-footer {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.qty-btn-container {
  display: flex;
  align-items: center;
  background: none;
  border-radius: 7px;
  border: 1px solid var(--border-color);
  color: var(--black);
  font-size: 1rem;
}
.qty-btn {
  padding: 10px 15px;
  font-size: 1rem;
  background: none;
  color: var(--black);
  cursor: pointer;
  border: none;
  transition: all 0.3s;
}

.qty-btn:hover {
  filter: brightness(120%);
}

.qty-left {
  border-radius: 7px 0px 0px 7px;
  border-right: 0.5px solid #ffffff90;
}
.qty-btn-center {
  width: 2.5rem;
  text-align: center;
}
.qty-right {
  border-radius: 0px 7px 7px 0px;
  border-left: 0.5px solid #ffffff90;
}

.close-btn {
  background: none;
  color: var(--black);
  transition: all 0.3s;
  font-weight: 900;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  align-self: flex-start;
}

.close-btn:hover {
  color: var(--dark-red);
  filter: brightness(80%);
}
.add-btn {
  background-color: var(--gold);
  border-radius: 7px;
  border: 2px solid var(--gold);
  font-size: 1rem;
  padding: 10px 15px;
  width: 10rem;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
  filter: brightness(110%);
}

.add-btn:hover {
  filter: brightness(100%);
}

.add-btn-disabled:hover {
  filter: none;
  border: 2px solid var(--gold);
  cursor: unset;
}
.item-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  gap: 10px;
}

.option-btn {
  background: none;
  position: relative;
  border-radius: 7px;
  border: 1px solid var(--border-color);
  font-size: 0.9rem;
  padding: 15px 20px;
  color: var(--black);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: calc(33%-5px);
}

.option-btn-selected {
  border: 1px solid var(--gold);
  filter: brightness(80%);
  background-color: var(--gold);
  color: var(--paper-white);
  filter: brightness(110%);
}

.dressing-container {
  flex-grow: 2;
  width: max-content;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.dressing-label {
  position: absolute;
  margin-top: -2rem;
  font-size: 1rem;
}
.dressing-btn {
  width: max-content;
  text-align: left;
}

.checkout-container {
  position: relative;
  padding-top: 40px;
  width: 70vw;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  min-height: calc(100vh - 180px);
}

.checkout-inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
}

.checkout-input {
  font: unset;
  font-size: 1rem;
  background-color: var(--black-hover);
  color: white;
  border-radius: 5px;
  border: 2px solid var(--black-hover);
  padding: 0.5rem;
  box-sizing: border-box;
}
.checkout-input:focus {
  outline: none;
  border: 2px solid var(--gold);
}

.checkout-items {
  background-color: var(--nice-white);
  border-radius: 3px 3px 0px 0px;
  padding: 1rem;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.checkout-item {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.checkout-item-left {
  flex-grow: 1;
}
.checkout-item-header {
  display: flex;
  gap: 1vw;
  align-content: baseline;
  justify-content: space-between;
  padding-top: 0.4rem;
}
.row {
  display: flex;
  gap: 1rem;
  width: 100%;
}
.checkout-item-qty {
  width: 1rem;
  text-align: center;
}
.checkout-item-name {
  flex-grow: 1;
}
.item-price {
  justify-self: end;
}
.checkout-line {
  width: 100%;
  height: 1px;
  background-color: var(--gold);
}
.checkout-prices {
  background-color: var(--black);
  border-radius: 0px 0px 3px 3px;
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
}

.checkout-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  margin-inline: auto;
}
.delete-btn {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--black-hover);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.delete-btn:hover {
  filter: brightness(90%);
}

@media (width <= 1000px) {
  .order-top {
    top: 67px;
    padding-left: 4.4vw;
  }
  .cart-section {
    padding-right: 22px !important;
  }
}

@media (width <= 420px) {
  .order-selectors {
    font-size: 0.8rem;
  }
  .item-name-open {
    font-size: 1.2rem;
    margin-top: -0.1rem;
  }
  .close-btn {
    margin-right: -12px;
    padding-block: 10px;
    margin-top: -8px;
    border-radius: 5px;
  }
  .add-btn {
    min-width: 8rem;
    width: min-content;
    white-space: nowrap;
  }
  .item-footer {
    width: 100%;
  }
  .item-section {
    width: 100%;
  }
  .req-input {
    width: 100%;
    font-size: 0.9rem;
  }
  .item-desc-open {
    font-size: 0.85rem;
  }
  .item-subheader {
    font-size: 0.9rem;
  }
  .inside-modal {
    gap: 0rem;
  }
  .item-section {
    gap: 1.5rem;
  }
  .option-btn {
    padding: 10px 15px;
  }
  .item-modal {
    width: 82%;
    margin-inline: auto;
  }
  .item-price {
    font-size: 1.1rem;
    margin-top: -1px;
  }
}

@media (width <= 400px) {
  .order-selector {
    font-size: 0.8rem;
  }
}

@media (width <= 1200px) {
  .item-container {
    width: calc(50% - 10px);
  }
}

@media (width <= 1000px) {
  .order-container {
    margin: unset;
    padding-inline: 4vw;
    width: unset;
    padding-top: 10px;
  }
}

@media (width <= 780px) {
  .item-container {
    width: 99%;
  }
}
