@keyframes ripple {
  0%, 45%, 80%, 100%{
    opacity: .8;
    transform: scale(1);
  }
  60% {
    opacity: 1;
    transform: scale(1.05);
  }
}
#upper,
#lower {
  transform-origin: center; 
}

#upper {
  animation: ripple 3.5s infinite;
}

#lower {
  animation: ripple 3.5s infinite .5s;
}